{% extends "bookings/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% if object %}
  <h1 class="mb-4">Edit Booking</h1>
{% else %}
  <h1 class="mb-4">Book a Sauna</h1>
{% endif %}

<div class="card">
  <div class="card-body">

    <form method="post" id="booking-form" data-validate-url="{% url 'validate_booking_form' %}">
      {% csrf_token %}

      <div id="booking-form-fields">
      {{ form|crispy }}
      </div>

      <div class="mt-3">
        {% if object %}
          <button type="submit" class="btn btn-primary" >Update Booking</button>
        {% else %}
          <button type="submit" class="btn btn-primary">Confirm Booking</button>
        {% endif %}
        <a href="{% url 'home' %}" class="btn btn-outline-secondary rounded-4" style="padding: 0.7rem 1.4rem;">Cancel</a>
      </div>

    </form>

  </div>
</div>
<script src="{% static 'js/booking-validation.js' %}"></script>



{% endblock %}


