{% extends "bookings/base.html" %}

{% block content %}

<div class="container py-4">
  <div class="row g-4">
     <h1>Sauna List</h1>
    {% for sauna in saunas %}
      <div class="col-12 ">
        <div class="card mb-5">
          <div class="card-body">
           

            <h2 class="mb-3 text-center">{{ sauna.name }}</h2>
            <p class="lead text-center">{{ sauna.description }}</p>
            <hr>

            <div class="row text-center mb-4">
              <div class="col-6">
                <h3 class="mb-1 h6">Capacity</h3>
                <p class="mb-0">{{ sauna.capacity }} people</p>
              </div>
              <div class="col-6">
                <h3 class="mb-1 h6">Price</h3>
                <p class="mb-0">£{{ sauna.price_per_hour }} per hour</p>
              </div>
            </div>

        <div class="text-center">
          {% if user.is_authenticated %}
            <a href="{% url 'booking_create' %}" class="btn btn-primary btn-lg">
              Book This Sauna
            </a>
          {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg">
              Login To Book
            </a>
          {% endif %}
        </div>

      </div>
    </div>
     {% empty %}
      <p class="text-center">No saunas available right now.</p>
    {% endfor %}
  </div>
</div>

  </div>
</div>

{% endblock %}
